
@mixin mobile {
    @media screen and (max-width: 500px) {
        @content;
        
    }
}
@mixin half {
    @media screen and (max-width: 880px) {
        @content;
        
    }
}
.dashboard{
    height: 100%;
    display: flex;
    font-family: "Inter", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}



.container{
    width: 100%;
    .appbar{
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 32px 12px 32px;
        .how{
            display: flex;
            align-items: center;
            @include half{
                display: none;
                visibility: collapse; 
            }
        }
        span{
            display: inline-block;
            margin-right: 10px;
        }
        .searchTop{
            background-color: #F2F2F2;
            border-radius: 6px;
            padding: 9px 16px 9px 16px;
        }
        input{
            font-family: "Inter", sans-serif;
            width: 400px;

            gap: 8px;
            border: none;
            outline: none;
            border-radius: 6px;
            background-color: #F2F2F2;
            @include mobile{
                width: 120px;
                margin: 0 5px 0 5px;
            }
        }
    
        div{
            display: flex;
            // align-items: center;
            justify-content: flex-end;
            button{
                // background-color: #E6E6E6;
                border: none;
                outline: none;
                margin-right: 10px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                img{
                    background-color: rgba(0,0,0,0);
                }
            }
            button:hover{
                background-color: #dbdbdb;
            }
            
        }
        
        
    }
}

.navbar{
    width: 18vw;
    
    // background-color: #353C53;
    background-color: #1e2640;
    // height: 100%;
    min-width: 225px;
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile{
        // width: 10px;
        min-width: 45px;
        // overflow-x: hidden;
    }
    .profile{
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        img{
            width: 50px;
            height: 50px;
        }
        @include mobile{
            justify-content: flex-start;

            img{
               width: 25px;
               height: 25px; 
               margin-left: 4px;
            }
        }
        .navNames{
            display: flex;
            justify-content: space-between;
            // width: 100%;
            @include mobile{
                visibility: collapse;
            }
        }
    }
    
    .navItem{
        padding: 8px 16px 8px 16px;
        display: flex;
        margin: 5px 0;
        opacity: 0.8;
        @include mobile{
            padding: 8px 0px 8px 0px;
        }
        span{
            color: white;
            @include mobile{
                visibility: collapse;
            }
        }
        img{
            width: 20px;
            height: 20px;
            margin: 0 15px;
            @include mobile{
                margin: 0 7px;
            }
        }
    }
    .navItem:hover{
        border-radius: 4px;
        background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    }
    .balance{
        color: #f2f2f2;
        background-color: #353c53;
        display: flex;
        padding: 6px 12px;
        align-items: center;
        gap: 12px;
        margin: 10px;
        img{
            width: 24px;
            height: 24px;
        }
        div{
            display: flex;
            flex-direction: column;

        }
        @include mobile{
            visibility: collapse;
        }
    }
    
}

.payment{
    padding: 30px 25px;
    background-color: #fafafa;
    max-height: calc(100vh - 65px);
    overflow-y: scroll;
    .titles{
        font-size: 20px;
    }
    button{
        background-color: #FFFFFF;
        outline: none;
        padding: 7px;
        font-size: 14px;
        border: 1px solid #D9D9D9;
    }
    button:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    .overview{
        margin-top: 20px;
        div{
            padding: 10px;
            background-color: white;
            box-shadow: 0px 2px 6px rgba(26, 24, 30, 0.04);
        }
    }
    .transactionTable{
        padding: 12px 12px;
        background-color: #FFFFFF;
        .transactionSearch{
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            padding: 10px 16px;
            display: flex;
            input{
                outline: none;
                border: none;
                font-size: 14px;
                
                font-family: 'Inter', sans-serif;
                @include mobile{
                    width: 150px;
                }
            }
            img{
                width: 14px;
                height: 14px;
                margin-right: 7px;
            }
        }
        table{
            width: 100%;
            text-align: center;
            font-size: 14px;
            border: 4px;
            margin-top: 10px;
            thead{
                background-color: #f2f2f2;
                color: #4d4d4d;
                th{
                    padding: 10px 12px;
                }
            }
            tbody{
                td{
                    padding: 12px 12px;
                }
            }
        }
    }
}